In [1]:
import numpy as np
import pandas as pd
from pymongo import MongoClient

In [2]:
client=MongoClient("mongodb+srv://santhoshkumar:Sandy123@sandy.ue49gwe.mongodb.net/")

In [3]:
db=client.sample_airbnb

In [4]:
collection=db.listingsAndReviews

In [5]:
documents=collection.find()

In [6]:
data={"id":[],"name":[],"name":[],"description":[],"property_type":[],
      "beds":[],"bathrooms":[],"guests_included":[],"host_id":[],
      "host_name":[],"neighbourhood":[],"latitude":[],"longtitude":[],
      "amenities":[],"price":[],"availability_30_days":[],"availability_60_days":[],
      "availability_90_days":[],"availability_365_days":[],"rating":[],"reviews":[]}

In [7]:
for i in documents:
  data['id'].append(i.get("_id",np.nan))
  data['name'].append(i.get("name",np.nan))
  data['description'].append(i.get("description",np.nan))
  data['property_type'].append(i.get("property_type",np.nan))
  data['beds'].append(i.get("beds",np.nan))
  data['bathrooms'].append(i.get("bathrooms",np.nan))
  data['guests_included'].append(i.get("guests_included",np.nan))
  data['host_id'].append(i["host"].get("host_id",np.nan))
  data['host_name'].append(i["host"].get("host_name",np.nan))
  data["neighbourhood"].append(i['host'].get("host_neighbourhood",np.nan))
  data["latitude"].append(i["address"]["location"]["coordinates"][0])
  data["longtitude"].append(i["address"]["location"]["coordinates"][1])
  data['amenities'].append(i.get("amenities",np.nan))
  data['price'].append(i.get('price',np.nan))
  data['availability_30_days'].append(i["availability"].get("availability_30",np.nan))
  data['availability_60_days'].append(i["availability"].get("availability_60",np.nan))
  data['availability_90_days'].append(i["availability"].get("availability_90",np.nan))
  data['availability_365_days'].append(i["availability"].get("availability_365",np.nan))
  data["rating"].append(i["review_scores"].get("review_scores_value",np.nan))
  data["reviews"].append(i.get('number_of_reviews',np.nan))

In [8]:
for i in data.keys():
  print(i,len(data[i]))

id 5555
name 5555
description 5555
property_type 5555
beds 5555
bathrooms 5555
guests_included 5555
host_id 5555
host_name 5555
neighbourhood 5555
latitude 5555
longtitude 5555
amenities 5555
price 5555
availability_30_days 5555
availability_60_days 5555
availability_90_days 5555
availability_365_days 5555
rating 5555
reviews 5555

# Data Exploration

In [11]:
df=pd.DataFrame(data)

In [12]:
df.head()

,id,name,description,property_type,beds,bathrooms,guests_included,host_id,host_name,neighbourhood,latitude,longtitude,amenities,price,availability_30_days,availability_60_days,availability_90_days,availability_365_days,rating,reviews
0,10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,House,5.0,1.0,6,51399391,Ana&Gonçalo,,-8.613080,41.141300,"[TV, Cable TV, Wifi, Kitchen, Paid parking off...",80.00,28,47,74,239,9.0,51
1,10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Apartment,2.0,1.0,1,1282196,Ynaie,Jardim Botânico,-43.230750,-22.966254,"[Wifi, Wheelchair accessible, Kitchen, Free pa...",317.00,0,0,0,0,NaN,0
2,1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Condominium,1.0,1.0,1,5448114,David,Waikiki,-157.839190,21.286340,"[TV, Cable TV, Wifi, Air conditioning, Pool, K...",115.00,16,46,76,343,9.0,96
3,10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,Apartment,1.0,1.5,1,11275734,Josh,Bushwick,-73.936150,40.697910,"[Internet, Wifi, Air conditioning, Kitchen, Bu...",40.00,0,0,0,0,8.0,1
4,10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,Apartment,1.0,2.0,1,51496939,Livia,Lagoa,-43.205047,-22.971951,"[TV, Cable TV, Internet, Wifi, Air conditionin...",701.00,28,58,88,363,NaN,0

In [14]:
df.dtypes

id                        object
name                      object
description               object
property_type             object
beds                     float64
bathrooms                 object
guests_included           object
host_id                   object
host_name                 object
neighbourhood             object
latitude                 float64
longtitude               float64
amenities                 object
price                     object
availability_30_days       int64
availability_60_days       int64
availability_90_days       int64
availability_365_days      int64
rating                   float64
reviews                    int64
dtype: object

In [13]:
df.shape

(5555, 20)

In [29]:
df.drop_duplicates(subset="id",inplace=True)

In [30]:
df.shape

(5555, 20)

In [31]:
# there is no duplicte values

## data investigation

In [16]:
df.columns

Index(['id', 'name', 'description', 'property_type', 'beds', 'bathrooms',
       'guests_included', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longtitude', 'amenities', 'price', 'availability_30_days',
       'availability_60_days', 'availability_90_days', 'availability_365_days',
       'rating', 'reviews'],
      dtype='object')

In [17]:
df.id.values[0]

'10006546'

In [18]:
# id data type str to int

In [20]:
df.id=df.id.astype("int64")

In [21]:
df.id.values[0]

10006546

In [32]:
# now i change the dtype

In [33]:
df.name.values[0]

'Ribeira Charming Duplex'

In [34]:
# no need to chane dtype

In [35]:
df.description.values[0]

'Fantastic duplex apartment with three bedrooms, located in the historic area of Porto, Ribeira (Cube) - UNESCO World Heritage Site. Centenary building fully rehabilitated, without losing their original character. Privileged views of the Douro River and Ribeira square, our apartment offers the perfect conditions to discover the history and the charm of Porto. Apartment comfortable, charming, romantic and cozy in the heart of Ribeira. Within walking distance of all the most emblematic places of the city of Porto. The apartment is fully equipped to host 8 people, with cooker, oven, washing machine, dishwasher, microwave, coffee machine (Nespresso) and kettle. The apartment is located in a very typical area of the city that allows to cross with the most picturesque population of the city, welcoming, genuine and happy people that fills the streets with his outspoken speech and contagious with your sincere generosity, wrapped in a only parochial spirit. We are always available to help guests'

In [36]:
# no need to change dtype

In [37]:
df.property_type.values[0]

'House'

In [38]:
# no need to change dtype

In [42]:
df.beds.values[0]

5.0

In [50]:
## missing values treat

In [54]:
df.beds.isnull().sum()

0

In [58]:
df.beds.value_counts()

1.0     2742
2.0     1381
3.0      657
4.0      385
5.0      166
6.0      109
7.0       43
8.0       28
10.0      16
9.0       11
12.0       5
11.0       3
15.0       2
14.0       2
16.0       2
13.0       1
25.0       1
18.0       1
Name: beds, dtype: int64

In [168]:
# impute null values

In [53]:
df.beds.fillna(df.beds.mode()[0],inplace=True)

In [57]:
df.beds=df.beds.replace(0.0,1.0)

In [59]:
df.beds=df.beds.astype(int)

In [60]:
df.beds.values[0]

5

In [61]:
df.beds.value_counts()

1     2742
2     1381
3      657
4      385
5      166
6      109
7       43
8       28
10      16
9       11
12       5
11       3
15       2
14       2
16       2
13       1
25       1
18       1
Name: beds, dtype: int64

In [63]:
# impute the null values and change dtype to int and beds have 0.0 to 1.0

In [69]:
df.bathrooms.values[0]

Decimal128('1.0')

In [70]:
df.bathrooms=df.bathrooms.apply(lambda x:float(str(x)))

In [71]:
df.bathrooms.values[0]

1.0

In [73]:
df.bathrooms.value_counts()

1.0     4202
2.0      774
1.5      231
3.0      132
2.5       79
4.0       33
3.5       26
0.5       15
0.0       14
5.0       11
4.5        8
7.0        6
6.0        5
8.0        5
5.5        2
16.0       1
9.0        1
Name: bathrooms, dtype: int64

In [76]:
df.bathrooms.isnull().sum()

10

In [77]:
df.bathrooms.fillna(df.bathrooms.mode()[0],inplace=True)

In [78]:
df.bathrooms=df.bathrooms.astype(int)

In [79]:
df.bathrooms.value_counts()

1     4443
2      853
3      158
4       41
0       29
5       13
7        6
6        5
8        5
16       1
9        1
Name: bathrooms, dtype: int64

In [80]:
df.bathrooms=df.bathrooms.replace(0,1)

In [81]:
df.bathrooms.value_counts()

1     4472
2      853
3      158
4       41
5       13
7        6
6        5
8        5
16       1
9        1
Name: bathrooms, dtype: int64

In [82]:
df.guests_included.values[0]

Decimal128('6')

In [83]:
df.guests_included=df.guests_included.apply(lambda x : int(str(x)))

In [84]:
df.guests_included.value_counts()

1     3595
2     1165
4      369
3      155
6      127
5       59
8       33
10      18
7       14
12       7
9        6
16       3
13       2
15       2
Name: guests_included, dtype: int64

In [85]:
df.guests_included.isnull().sum()

0

In [86]:
df.host_id.values[0]

'51399391'

In [87]:
df.host_id=df.host_id.astype(int)

In [88]:
df.host_id.values[0]

51399391

In [89]:
df.host_id.value_counts()

97240131     18
12243051     11
4459553       9
38459934      9
30907275      7
             ..
8011636       1
139995595     1
104420871     1
139844353     1
145432616     1
Name: host_id, Length: 5104, dtype: int64

In [90]:
df.columns

Index(['id', 'name', 'description', 'property_type', 'beds', 'bathrooms',
       'guests_included', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longtitude', 'amenities', 'price', 'availability_30_days',
       'availability_60_days', 'availability_90_days', 'availability_365_days',
       'rating', 'reviews'],
      dtype='object')

In [91]:
df.host_name.values[0]

'Ana&Gonçalo'

In [92]:
df.neighbourhood.values[0]

''

In [100]:
df.neighbourhood.value_counts()

                                            1923
Copacabana                                   124
Le Plateau                                   123
Mong Kok                                      90
Waikiki                                       76
Downtown Montreal                             74
Dreta de l'Eixample                           69
Williamsburg                                  61
Taksim                                        56
Sultanahmet                                   55
Tsim Sha Tsui                                 55
Sheung Wan                                    55
Island of Hawaiʻi                             54
Kihei/Wailea                                  51
Ipanema                                       48
Kauaʻi                                        44
Mile End                                      42
Kailua/Kona                                   39
Barra da Tijuca                               38
El Raval                                      36
Bedford-Stuyvesant                            35
Jordan                                        33
La Petite-Patrie                              32
Vila de Gràcia                                32
La Sagrada Família                            31
La Nova Esquerra de l'Eixample                31
Şişli                                         31
L'Antiga Esquerra de l'Eixample               30
Causeway Bay                                  30
Wan Chai                                      30
Cihangir                                      30
Kennedy Town                                  27
El Gòtic                                      26
Ville-Marie                                   26
North Shore                                   26
Leblon                                        26
Harlem                                        25
Bushwick                                      25
Karaköy                                       24
El Poble-sec                                  23
Hell's Kitchen                                23
Upper West Side                               23
Gay Village                                   22
Surry Hills                                   22
Central Business District                     22
Villeray                                      21
Tai Kok Sui                                   21
Bondi Beach                                   21
Crown Heights                                 21
Kaanapali                                     20
Kailua                                        19
Lower East Side                               19
Soho                                          19
East Village                                  18
Hochelaga-Maisonneuve                         18
Sants-Montjuïc                                17
Darlinghurst                                  17
Manly                                         17
Chelsea                                       17
Ko'olauloa                                    17
Flamengo                                      17
Old Port                                      17
Napili/Honokowai                              17
Camp d'en Grassot i Gràcia Nova               16
Santa Teresa                                  16
Beşiktaş                                      16
Sant Antoni                                   16
Sai Ying Pun                                  15
Cote-des-Neiges                               15
el Fort Pienc                                 15
Quartier des Spectacles                       15
Lapa                                          14
Villeray-Saint-Michel-Parc-Extension          14
Astoria                                       14
Verdun                                        14
North Bondi                                   14
Hilo                                          13
Sant Gervasi - Galvany                        13
El Born                                       13
Botafogo                                      12
Bondi                                         12
Upper East Side                               12
Mosman                                        12
Potts Point                                   12
La Vila Olímpica                              12
Park Slope                                    12
Notre-Dame-de-Grace                           12
Alphabet City                                 12
Redfern                                       11
East Harlem                                   11
Newtown/Enmore                                11
Tijuca                                        11
La Barceloneta                                10
Outremont                                     10
Diamond Head/Kapahulu/St. Louis Heights       10
Kuliouou/Kalani Iki                            9
Laranjeiras                                    9
Haymarket                                      9
Elizabeth Bay/Rushcutters Bay                  9
Mercier-Hochelaga-Maisonneuve                  9
Lahaina                                        9
Recreio dos Bandeirantes                       9
Randwick                                       8
Old Rosemont                                   8
Cote-des-Neiges-Notre-Dame-de-Grace            8
Greenpoint                                     8
Ho Man Tin                                     8
Üsküdar                                        8
Moda                                           8
Leme                                           8
Chinatown                                      8
Nolita                                         8
Ahuntsic-Cartierville                          8
Midtown East                                   8
Sham Shui Po                                   8
Washington Heights                             8
Hung Hom                                       8
Flatbush                                       8
Hamilton Heights                               8
Greenwich Village                              7
Bellevue Hill                                  7
Waianae Coast                                  7
Sant Pere/Santa Caterina                       7
Fatih                                          7
Old Montreal                                   7
Kadıköy                                        7
Quarry Bay                                     7
Annandale/Leichhardt                           7
Le Sud-Ouest                                   7
Kips Bay                                       7
McGill Ghetto                                  7
West Village                                   7
Santo Condestável                              7
Midtown                                        7
Kingsford                                      7
Glebe                                          7
Maui                                           7
Kaimuki                                        6
El Poblenou                                    6
Catete                                         6
El Clot                                        6
Coogee                                         6
El Camp de l'Arpa del Clot                     6
Paddington                                     6
El Besòs i el Maresme                          6
Bronte                                         6
Fort Greene                                    6
Saint-Henri                                    6
Ultimo                                         6
Balmain/Birchgrove                             6
Avalon                                         6
Happy Valley                                   6
Downtown                                       6
Chippendale                                    5
Diagonal Mar - La Mar Bella                    5
Fortress Hill                                  5
North Kohala                                   5
Adelfas                                        5
Parc-Extension                                 5
Erskineville                                   5
Central                                        5
Kapalua                                        5
Paia                                           5
Makakilo/Kapolei/Honokai Hale                  5
Jardim Botânico                                5
Tremont                                        5
North Point                                    5
Ortaköy                                        5
Neutral Bay                                    5
Shek Tong Tsui                                 5
Pyrmont                                        5
Jamaica                                        5
Rivière-des-Prairies-Pointe-aux-Trembles       5
Windsor Terrace                                5
Clinton Hill                                   5
Palolo                                         5
Gávea                                          5
Balgowlah                                      5
Sarrià                                         5
Bondi Junction                                 4
Morningside Heights                            4
Ewa                                            4
Lilyfield/Rozelle                              4
Saint-Laurent                                  4
LaSalle                                        4
Rosebery                                       4
Gowanus                                        4
Liliha/Kapalama                                4
Zetland                                        4
Palm Beach                                     4
Waterloo                                       4
Strathfield                                    4
Ala Moana/Kakaako                              4
Mid-Levels                                     4
Glòries - El Parc                              4
Vallcarca i els Penitents                      4
The Rockaways                                  4
Centro                                         4
Waverly                                        3
Petersham                                      3
Rose Bay/Dover Heights                         3
El Putget i Farró                              3
Gramercy Park                                  3
Rosemont-La Petite-Patrie                      3
Woolloomooloo                                  3
Financial District                             3
Hamakua Coast                                  3
Marrickville                                   3
Mascot                                         3
El Congrés i els Indians                       3
Forest Hills                                   3
Maroubra                                       3
Kaneohe                                        3
Griffintown                                    3
Tribeca                                        3
Chatswood                                      3
Provençals del Poblenou                        3
Monterey                                       3
Downtown Toronto                               3
Sant Gervasi - la Bonanova                     3
Coney Island                                   3
Kadıköy Merkezi                                3
Beyoglu                                        3
Hawaii Kai                                     3
Little Burgundy                                3
Makiki/Lower Punchbowl/Tantalus                3
Waimanalo                                      3
Flushing                                       3
To Kwa Wan                                     2
Forest Lodge                                   2
Padstow                                        2
Estacio                                        2
Artarmon                                       2
Guinardó                                       2
Waipahu                                        2
Kalihi Valley                                  2
Carroll Gardens                                2
King's Park                                    2
Catumbi                                        2
The Peak                                       2
Sant Andreu de Palomar                         2
Manoa                                          2
Rhodes                                         2
Montréal-Nord                                  2
Greenwood Heights                              2
Brooklyn Navy Yard                             2
Little Italy                                   2
Fairlight                                      2
Beaconsfield                                   2
Anjou                                          2
Prospect Heights                               2
Pena                                           2
Navas                                          2
East Flatbush                                  2
El Baix Guinardó                               2
la Sagrada Família                             2
Nanakuli/Maili                                 2
Dollard-des-Ormeaux                            2
Humaitá                                        2
La Teixonera                                   2
Wong Tai Sin                                   2
Vila Mariana                                   2
Nossa Senhora de Fátima                        2
Verdum - Los Roquetes                          2
La Verneda i La Pau                            2
Summer Hill                                    2
Barra de Guaratiba                             2
South Lake Tahoe                               2
Maracanã                                       2
Lefferts Garden                                2
Malabar                                        2
Brooklyn Heights                               2
Hurstville                                     2
Mont-Royal                                     2
Canarsie                                       2
Lagoa                                          2
Long Island City                               2
Vila Isabel                                    2
Shek Kip Mei                                   2
Wollstonecraft/Waverton                        2
Del Castilho                                   2
North Sydney                                   2
Grajaú                                         2
Kensington                                     2
Urca                                           2
Sant Martí de Provençals                       2
Nuuanu/Punchbowl                               2
Haiku/Pauwela                                  2
Westmount                                      2
Abbotsford                                     2
Greenwich                                      2
Vaucluse/Watsons Bay                           2
Lachine                                        2
Ridgewood                                      2
Darlington                                     2
Woollahra                                      2
São Cristóvão                                  2
Boerum Hill                                    2
Les Corts                                      2
Porta                                          2
Inwood                                         2
Downtown Vancouver                             1
São Conrado                                    1
La Trinitat Vella                              1
Union Square                                   1
Docklands                                      1
Port Morris                                    1
Shoreditch                                     1
Bonsucesso                                     1
Choi Hung                                      1
Jardim Europa                                  1
Brickell                                       1
Wanhua                                         1
L'Ile-Bizard                                   1
Silverwater/Newington                          1
Praça da Bandeira                              1
Chifley                                        1
Castellana                                     1
Saint-Leonard                                  1
La Maternitat i Sant Ramon                     1
Beverly Hills                                  1
Dulwich Hill                                   1
Croydon                                        1
Andaraí                                        1
Burwood                                        1
Downtown Brooklyn                              1
Can Baro                                       1
Kwun Tong                                      1
L'Eixample                                     1
Aksaray                                        1
High Park North                                1
Noho                                           1
Stuyvesant Heights                             1
Morrisania                                     1
Flatiron District                              1
South Coogee                                   1
West Kowloon                                   1
Ditmars / Steinway                             1
Soundview                                      1
Eixample                                       1
Mount Eden                                     1
Todos os Santos                                1
Hana                                           1
Phillip Bay                                    1
Lugarno                                        1
North Shore (Maui)                             1
Rego Park                                      1
Tompkinsville                                  1
Molokaʻi                                       1
Stanmore                                       1
Tempe/Sydenham                                 1
Hillcrest                                      1
Yorkville                                      1
Mercês                                         1
Cosme Velho                                    1
The Castro                                     1
Aliamanu/Salt Lake/Foster Village              1
Sunnyside                                      1
Richmond                                       1
Clovelly                                       1
Camperdown                                     1
Karlín                                         1
Jackson Heights                                1
East Williamsburg                              1
Sunset Park                                    1
Les Corts (Nabe)                               1
Hudson Square                                  1
Pointe-Sainte-Charles                          1
Roosevelt Island                               1
Times Square/Theatre District                  1
Horta                                          1
Hempstead                                      1
Waialae/Kahala                                 1
Kowloon Tong                                   1
Sans Souci                                     1
Vila Clementino                                1
Kahalu'u                                       1
Battery Park City                              1
Morris Park                                    1
Montréal-Ouest                                 1
St Peters                                      1
Pointe-Claire                                  1
Opéra - Grands Boulevards                      1
Parada de Lucas                                1
San Mateo                                      1
Breakfast Point/Cabarita                       1
Torre Baró                                     1
Bedford Park                                   1
Dyker Heights                                  1
Concord                                        1
Claremont                                      1
Millers Point                                  1
RB of Greenwich                                1
Throgs Neck                                    1
Alexandria                                     1
University Heights                             1
Ozone Park                                     1
East Elmhurst                                  1
Richmond Hill                                  1
São João                                       1
Makawao                                        1
Kingsgrove                                     1
Palo Alto                                      1
Woodside                                       1
Gravesend                                      1
City Island                                    1
Méier                                          1
Carmel                                         1

In [99]:
pd.set_option("display.max_rows",500)

In [105]:
df.neighbourhood=df.neighbourhood.replace("","No Name")

In [108]:
df[df.neighbourhood=="No Name"]

,id,name,description,property_type,beds,bathrooms,guests_included,host_id,host_name,neighbourhood,latitude,longtitude,amenities,price,availability_30_days,availability_60_days,availability_90_days,availability_365_days,rating,reviews
0,10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,House,5,1,6,51399391,Ana&Gonçalo,No Name,-8.613080,41.141300,"[TV, Cable TV, Wifi, Kitchen, Paid parking off...",80.00,28,47,74,239,9.0,51
5,1003530,New York City - Upper West Side Apt,"Murphy bed, optional second bedroom available....",Apartment,1,1,1,454250,Greta,No Name,-73.965230,40.799620,"[Internet, Wifi, Air conditioning, Kitchen, El...",135.00,0,0,0,93,10.0,70
11,10059244,Ligne verte - à 15 min de métro du centre ville.,À 30 secondes du métro Joliette. Belle grande ...,Apartment,1,1,1,7140229,Caro,No Name,-73.549490,45.545480,"[TV, Internet, Wifi, Kitchen, Free parking on ...",43.00,0,0,0,32,NaN,0
14,10069642,Ótimo Apto proximo Parque Olimpico,Apartamento próximo ao centro dos Jogos Olímpi...,Apartment,2,2,1,51670240,Jonathan,No Name,-43.431112,-23.000358,"[TV, Cable TV, Internet, Wifi, Air conditionin...",858.00,0,0,0,0,NaN,0
17,10083468,Be Happy in Porto,Be Happy Apartment is an amazing space. Renova...,Loft,1,1,1,27518920,Fábio,No Name,-8.611230,41.152250,"[TV, Cable TV, Wifi, Kitchen, Smoking allowed,...",30.00,16,40,67,335,10.0,178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5548,9979991,,"Located at the heart of Kowloon, our unit is s...",Apartment,1,1,1,51283546,Alexis,No Name,114.169630,22.315690,"[TV, Internet, Air conditioning, Kitchen, Elev...",1052.00,0,0,0,0,NaN,0
5550,9983221,Cozy apartment downtown Porto,"Renovated, fully equipped, within walking dist...",Apartment,2,1,2,37776205,Ana,No Name,-8.616930,41.151370,"[TV, Cable TV, Internet, Wifi, Kitchen, Paid p...",58.00,26,51,77,300,10.0,107
5551,9985696,Kadıköy-Altıyol,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,House,3,1,1,51303748,Eren,No Name,29.030790,40.985630,"[TV, Cable TV, Internet, Wifi, Kitchen, Buzzer...",501.00,30,60,90,365,NaN,0
5553,9990304,March Madness Special! Aina Nalu Platinum D107,Walk out to Saltwater Infinity Pool! Call us N...,Condominium,3,2,1,51013381,Coconut Condos,No Name,-156.676460,20.875610,"[TV, Cable TV, Wifi, Air conditioning, Wheelch...",227.00,8,20,26,243,9.0,13
5554,9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,Townhouse,4,2,1,51013381,Coconut Condos,No Name,-156.667520,20.858940,"[TV, Wifi, Air conditioning, Pool, Kitchen, Fr...",220.00,0,8,31,258,9.0,15

In [109]:
df.latitude.values[0]

-8.61308

In [110]:
df.longtitude.values[0]

41.1413

In [119]:
import ast
unique_amenities=set()
for i in df.amenities:
  amen_list=[x for x in i]
  for j in amen_list:
    unique_amenities.add(j)

In [120]:
unique_amenities.remove('')

In [121]:
rows=[]
amenities_=list(unique_amenities)
for i in df.amenities:
  aments=[x for x in i]
  row=[]
  for j in amenities_:
    row.append(int(j in aments))
  rows.append(row)

In [122]:
df_1=pd.DataFrame(rows,columns=amenities_)

In [123]:
total_amenities=df_1.sum(axis=1)

In [124]:
total_amenities

0       32
1       15
2       35
3       10
4       16
        ..
5550    38
5551    15
5552    26
5553    16
5554    15
Length: 5555, dtype: int64

In [125]:
df=pd.concat([df,total_amenities],axis=1)

In [128]:
df.rename(columns={0:"Total Amenities"},inplace=True)

In [129]:
df.head()

,id,name,description,property_type,beds,bathrooms,guests_included,host_id,host_name,neighbourhood,...,longtitude,amenities,price,availability_30_days,availability_60_days,availability_90_days,availability_365_days,rating,reviews,Total Amenities
0,10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,House,5,1,6,51399391,Ana&Gonçalo,No Name,...,41.141300,"[TV, Cable TV, Wifi, Kitchen, Paid parking off...",80.00,28,47,74,239,9.0,51,32
1,10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Apartment,2,1,1,1282196,Ynaie,Jardim Botânico,...,-22.966254,"[Wifi, Wheelchair accessible, Kitchen, Free pa...",317.00,0,0,0,0,NaN,0,15
2,1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Condominium,1,1,1,5448114,David,Waikiki,...,21.286340,"[TV, Cable TV, Wifi, Air conditioning, Pool, K...",115.00,16,46,76,343,9.0,96,35
3,10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,Apartment,1,1,1,11275734,Josh,Bushwick,...,40.697910,"[Internet, Wifi, Air conditioning, Kitchen, Bu...",40.00,0,0,0,0,8.0,1,10
4,10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,Apartment,1,2,1,51496939,Livia,Lagoa,...,-22.971951,"[TV, Cable TV, Internet, Wifi, Air conditionin...",701.00,28,58,88,363,NaN,0,16

In [130]:
df.price.values[0]

Decimal128('80.00')

In [132]:
df.price=df.price.apply(lambda x:float(str(x)))

In [133]:
df.price.values[0]

80.0

In [160]:
df.describe()

,id,beds,bathrooms,guests_included,host_id,latitude,longtitude,price,availability_30_days,availability_60_days,availability_90_days,availability_365_days,rating,reviews,Total Amenities
count,5.555000e+03,5555.000000,5555.000000,5555.000000,5.555000e+03,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000
mean,1.664386e+07,2.074167,1.263366,1.747435,6.512138e+07,-6.623240,22.061230,202.018902,11.816202,26.451305,42.758056,173.105671,9.489649,27.606481,21.626823
std,9.622558e+06,1.613514,0.677815,1.487352,6.816258e+07,90.525974,28.092112,179.638141,11.686113,23.476011,35.226897,139.841893,0.861926,49.798376,10.971642
min,1.170800e+04,1.000000,1.000000,1.000000,2.787000e+03,-159.678690,-34.088290,9.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000
25%,8.376039e+06,1.000000,1.000000,1.000000,1.024978e+07,-73.599530,20.724390,70.000000,0.000000,0.000000,0.000000,17.000000,9.000000,1.000000,13.000000
50%,1.711345e+07,2.000000,1.000000,1.000000,3.725685e+07,-8.611420,40.727130,129.000000,8.000000,23.000000,43.000000,171.000000,10.000000,5.000000,20.000000
75%,2.461229e+07,3.000000,1.000000,2.000000,1.046962e+08,29.019605,41.162755,280.000000,24.000000,52.000000,80.000000,317.000000,10.000000,32.000000,28.000000
max,3.295874e+07,25.000000,16.000000,16.000000,2.477517e+08,151.338980,45.665630,595.000000,30.000000,60.000000,90.000000,365.000000,10.000000,533.000000,72.000000

In [157]:
q1=df.price.quantile(.25)
q3=df.price.quantile(.75)
iqr=q3-q1
upper=q3+(1.5*iqr)
lower=q1-(1.5*iqr)
print(upper)
print(lower)

595.0
-245.0

In [158]:
df.price.clip(0,595.0,inplace=True)

In [159]:
df.price.describe()

count    5555.000000
mean      202.018902
std       179.638141
min         9.000000
25%        70.000000
50%       129.000000
75%       280.000000
max       595.000000
Name: price, dtype: float64

In [135]:
df.isnull().sum()

id                          0
name                        0
description                 0
property_type               0
beds                        0
bathrooms                   0
guests_included             0
host_id                     0
host_name                   0
neighbourhood               0
latitude                    0
longtitude                  0
amenities                   0
price                       0
availability_30_days        0
availability_60_days        0
availability_90_days        0
availability_365_days       0
rating                   1475
reviews                     0
Total Amenities             0
dtype: int64

In [136]:
df.rating.value_counts()

10.0    1998
9.0     1605
8.0      351
7.0       60
6.0       39
2.0       16
4.0        7
5.0        3
3.0        1
Name: rating, dtype: int64

In [137]:
df.rating.values[0]

9.0

In [138]:
df.rating.fillna(df.rating.mode()[0],inplace=True)

In [139]:
df.rating=df.rating.astype(int)

In [140]:
df.rating.value_counts()

10    3473
9     1605
8      351
7       60
6       39
2       16
4        7
5        3
3        1
Name: rating, dtype: int64

In [163]:
df.drop("amenities",axis=1,inplace=True)

In [165]:
df.head()

,id,name,description,property_type,beds,bathrooms,guests_included,host_id,host_name,neighbourhood,latitude,longtitude,price,availability_30_days,availability_60_days,availability_90_days,availability_365_days,rating,reviews,Total Amenities
0,10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,House,5,1,6,51399391,Ana&Gonçalo,No Name,-8.613080,41.141300,80.0,28,47,74,239,9,51,32
1,10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Apartment,2,1,1,1282196,Ynaie,Jardim Botânico,-43.230750,-22.966254,317.0,0,0,0,0,10,0,15
2,1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Condominium,1,1,1,5448114,David,Waikiki,-157.839190,21.286340,115.0,16,46,76,343,9,96,35
3,10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,Apartment,1,1,1,11275734,Josh,Bushwick,-73.936150,40.697910,40.0,0,0,0,0,8,1,10
4,10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,Apartment,1,2,1,51496939,Livia,Lagoa,-43.205047,-22.971951,595.0,28,58,88,363,10,0,16

In [167]:
df.to_csv("airbnb_data.csv")